/* Chip Styles */

.renuiChipContainer {
  background:#EEEEEE;
  display:flex;
  flex-direction:space-between;
  align-items:center;
  border-radius:40px;
  height:35px;
  cursor:pointer;
}

.renuiChipImage {
  border-radius:50%;
  height:35px;
}

.renuiChipContent {
  padding-left:10px;
  padding-right:10px;
  font-size:0.9em;
}

.renuiChipIcon {
  background:#CCCCCC;
  border-radius:50%;
  height:35px;
  width:35px;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  color:#555555;
}
